<link type="text/css" rel="stylesheet" media="all" href="asset/css/metronic/page/todo-2.css">
<link type="text/css" rel="stylesheet" media="all" href="asset/lib/angular-datepicker/dist/angular-datepicker.css">

<div class="row">
    <div class="col-md-12">
        <div class="todo-ui">
            <div class="todo-sidebar">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content">
                            <span class="caption-subject font-green-sharp bold uppercase">PROJECTS</span>
                            <span class="caption-helper visible-sm-inline-block visible-xs-inline-block">click to view project list</span>
                        </div>
                        <div class="actions">
                            <div data-alt-component="alt/button" data-scope="project.add"></div>
                        </div>
                    </div>
                    <div class="portlet-body todo-project-list-content">
                        <div class="todo-project-list">
                            <ul class="nav nav-stacked">
                                <li data-ng-if="project.list.length == 0">
                                    <h4>No project here, let's create new!</h4>
                                </li>
                                <li data-ng-repeat="item in project.list" data-ng-init="button = project.button($index, item);">
                                    {{ item.title }}
                                    <div class="pull-right" data-ng-repeat="btn in button" data-alt-component="alt/button" data-scope="btn"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content-tags">
                            <span class="caption-subject font-red bold uppercase">TAGS</span>
                            <span class="caption-helper visible-sm-inline-block visible-xs-inline-block">click to view</span>
                        </div>
                        <div class="actions">
                            <div class="actions">
                                <div data-alt-component="alt/button" data-scope="tag.add"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body todo-project-list-content todo-project-list-content-tags">
                        <div class="todo-project-list">
                            <ul class="nav nav-pills nav-stacked">
                                <li data-ng-if="tag.list.length == 0">
                                    <h4>No tag here, let's create new!</h4>
                                </li>
                                <li data-ng-repeat="item in tag.list" data-ng-init="button = tag.button($index, item);">
                                    {{ item.title }}
                                    <div class="pull-right" data-ng-repeat="btn in button" data-alt-component="alt/button" data-scope="btn"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="todo-content">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <h4>
                                {{ project.current.projectid ? project.current.title : "Choose project first!" }}
                            </h4>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-lg-5 col-md-12 col-sm-4">
                                <div class="todo-tasklist">
                                    <div class="todo-tasklist-item todo-tasklist-item-border-green" data-ng-if="task.list.length == 0">
                                        <h3>No task here, {{ project.current.title ? '' : 'choose project and ' }}create new task!</h3>
                                    </div>
                                    <div class="todo-tasklist-item todo-tasklist-item-border-green" data-ng-repeat="item in task.list">
                                        <div class="todo-tasklist-item-title">
                                            {{ item.title }}
                                        </div>
                                        <div class="todo-tasklist-item-text">
                                            {{ item.description }}
                                        </div>
                                        <div class="todo-tasklist-controls">
                                            <span class="todo-tasklist-date">
                                                <i class="fa fa-calendar"></i>
                                                {{ moment(item.deadline).isValid() ? moment(item.deadline).format("DD MMMM YYYY") : "" }}
                                            </span>
                                            <span class="todo-tasklist-badge badge badge-roundless">
                                                {{ tag.keyvalues[item.tagid].title }}
                                            </span>
                                        </div>
                                        <div class="todo-tasklist-controls">
                                            <div data-ng-init="button = task.button($index, item);">
                                                <div class="pull-right" data-ng-repeat="btn in button" data-alt-component="alt/button" data-scope="btn"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden-lg col-md-12 todo-task-divider">&nbsp;</div>
                            <div class="col-lg-7 col-md-12 col-sm-8">
                                <form class="form-horizontal">
                                    <div class="form">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Task Title..." data-ng-model="task.current.title">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <textarea class="form-control todo-taskbody-taskdesc" rows="8" placeholder="Task Description..." data-ng-model="task.current.description"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="input-icon">
                                                    <i class="fa fa-calendar"></i>
                                                    <input type="text" date-time="" min-view="date" max-view="date" format="DD MMMM YYYY" class="form-control todo-taskbody-due" placeholder="Due Date..." data-ng-model="task.current.deadline">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <select class="form-control todo-taskbody-tags select2-hidden-accessible" tabindex="-1" aria-hidden="true" data-ng-model="task.current.tagid" placeholder="Task Tag..">
                                                    <option data-ng-repeat="item in tag.list" data-ng-value="item.tagid">{{ item.title }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-actions right todo-form-actions">
                                            <div class="pull-right" data-ng-repeat="btn in task.form" data-alt-component="alt/button" data-scope="btn"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>