<div data-alt-component="alt/toolbar" data-scope="toolbar"></div>

<div data-alt-transclude="alt/table" data-scope="table" style="overflow-x: auto">
    <div class="table-responsive">
        <table class="table table-hover table-responsive table-bordered table-condensed">
            <thead>
                <tr>
                    <th>No.</th>
                    <th class="text-center" data-ng-click="table.sort('deploymentid')">
                        Deployment ID
                        <i class="fa fa-chevron-up" data-ng-if="table.order['deploymentid'] === true"></i>
                        <i class="fa fa-chevron-down" data-ng-if="table.order['deploymentid'] === false"></i>
                    </th>
                    <th class="text-center" data-ng-click="table.sort('processid')">
                        Process ID
                        <i class="fa fa-chevron-up" data-ng-if="table.order['processid'] === true"></i>
                        <i class="fa fa-chevron-down" data-ng-if="table.order['processid'] === false"></i>
                    </th>
                    <th class="text-center" data-ng-click="table.sort('trxprocessid')">
                        Transaction Process ID
                        <i class="fa fa-chevron-up" data-ng-if="table.order['trxprocessid'] === true"></i>
                        <i class="fa fa-chevron-down" data-ng-if="table.order['trxprocessid'] === false"></i>
                    </th>
                    <th class="text-center" data-ng-click="table.sort('name')">
                        Name
                        <i class="fa fa-chevron-up" data-ng-if="table.order['name'] === true"></i>
                        <i class="fa fa-chevron-down" data-ng-if="table.order['name'] === false"></i>
                    </th>
                    <th class="text-center" data-ng-click="table.sort('rev')">
                        Revision Number
                        <i class="fa fa-chevron-up" data-ng-if="table.order['rev'] === true"></i>
                        <i class="fa fa-chevron-down" data-ng-if="table.order['rev'] === false"></i>
                    </th>
                    <th class="text-center" data-ng-click="table.sort('status')">
                        Status
                        <i class="fa fa-chevron-up" data-ng-if="table.order['status'] === true"></i>
                        <i class="fa fa-chevron-down" data-ng-if="table.order['status'] === false"></i>
                    </th>
                    <th class="text-center">Actions</th>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" class="form-control" data-ng-model="table.filter.deploymentid"/></td>
                    <td><input type="text" class="form-control" data-ng-model="table.filter.processid"/></td>
                    <td><input type="text" class="form-control" data-ng-model="table.filter.trxprocessid"/></td>
                    <td><input type="text" class="form-control" data-ng-model="table.filter.name"/></td>
                    <td><input type="text" class="form-control" data-ng-model="table.filter.rev"/></td>
                    <td><input type="text" class="form-control" data-ng-model="table.filter.status"/></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in table.data">
                    <td style="text-align: right;">{{$index + (table.offset || 0) + 1}}.</td>
                    <td>{{item.deploymentid}}</td>
                    <td>{{item.processid}}</td>
                    <td>{{item.trxprocessid}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.rev}}</td>
                    <td>{{item.status}}</td>
                    <td class="text-center" style="white-space:nowrap" data-ng-init="buttons = table.buttons($index, item);">
                        <div data-ng-repeat="button in buttons" style="display: inline;">
                            <div data-alt-component="alt/button" data-scope="button"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>